/* Description: Master CSS file */

/*****************************************
Table Of Contents:

- General Styles
- Navigation
- Header
- Registration
- Description
- Highlights
- Agenda
- Speakers
- Speaker Lightboxes
- Questions
- Sponsors
- Contact
- Footer
- Copyright
- Back To Top Button 
- Extra Pages
- Media Queries
******************************************/

/*****************************************
Colors:
- Backgrounds - light gray #f6fbfd
- Buttons, icons, navbar - red #ec3258
- Headings text - navy blue #333333
- Body text - dark gray #555555
******************************************/

/**************************/
/*     General Styles     */
/**************************/
body,
html {
    width: 100%;
	height: 100%;	
}

body, p, a, span.programme {
	color: #555555; 
	/*font: 400 1rem/1.625rem "Open Sans", sans-serif;*/
	font: 400 1rem/1.25rem "gotham", sans-serif;
	/*font: 400 1rem/1.625rem "Century Gothic", sans-serif;*/
}

p, span.programme {
	margin-bottom: 0.5rem;
}

span.blue {
	/*font: 400 2rem/2.5rem "Fredoka One", sans-serif;*/
	font: 700 1.75rem/2.5rem "Century Gothic", sans-serif;
	color: #0095db;
}

span.dark-blue {
	/*font: 400 2rem/2.5rem "Fredoka One", sans-serif;*/
	/*font: 700 1.5rem/2rem "Century Gothic", sans-serif;*/
	font: 500 1.5rem "berthold-block-w1g", sans-serif;
	color: #00468e;
}

span.esperluette {
	font-size: 75%;
	font-family: "Tomarik Brush", sans-serif;
	position: relative;
	padding-bottom: 16px;
}

span.esperluette2 {
	font-family: "Tomarik Brush", sans-serif;
	font-size: 75%;
}

h1 {
	color: #333333;
	/*font: italic 700 2.75rem/3.25rem "Sansita", sans-serif;*/
	/*font: 400 2.25rem/2.75rem "Fredoka One", cursive;*/
	/*font: 400 2.25rem/2.75rem "Tomarik Display Line", sans-serif;*/
	font-family: "hackney", sans-serif;
	font-weight: 700;
	font-style: normal;
}

h2 {
	color: #ffffff;
	/*font: italic 700 2.25rem/2.75rem "Sansita", sans-serif;*/
	/*font: 400 2rem/2.5rem "Fredoka One", sans-serif;*/
	/*font: 400 2.5rem/2.5rem "Tomarik Display Line", sans-serif;*/
	font-family: "berthold-block-w1g", sans-serif;
	font-weight: 400;
	font-size: 4rem;
	font-style: normal;
}

h3 {
	color: #333333;
	/*font: italic 700 1.875rem/2.25rem "Sansita", sans-serif;*/
	/*font: 400 1.75rem/1.5rem "Fredoka One", sans-serif;*/
	/*font: 400 1.75rem/1.5rem "Tomarik Display", sans-serif;*/
	font-family: "berthold-block-w1g", sans-serif;
	font-size: 3rem;
}

h4 {
	color: #0095db;
	/*font: italic 700 1.625rem/2rem "Sansita", sans-serif;*/
	/*font: 400 1.25rem/1.25rem "Fredoka One", sans-serif;*/
	/*font: 400 1.25rem/1.25rem "Tomarik Display", sans-serif;*/
	font-family: "berthold-block-w1g", sans-serif;
	margin: 2rem auto 1.5rem auto;
}

h5 {
	color: #333333;
	/*font: italic 700 1.375rem/1.625rem "Sansita", sans-serif;*/
	/*font: 400 1rem/1.5rem "Fredoka One", sans-serif;*/
	/*font: 400 1rem/1.5rem "Tomarik Display", sans-serif;*/
	font-family: "berthold-block-w1g", sans-serif;
}

h6 {
	color: #333333;
	/*font: italic 700 1.125rem/1.375rem "Sansita", sans-serif;*/
	font: 700 1.125rem/1.375rem "Tomarik Display", sans-serif;
}

.p-large {
	font-size: /*1.125rem*/ 1.25rem;
	line-height: 1.75rem;
}

.p-small {
	font-size: 0.875rem;
	line-height: 1.5rem;
}

.testimonial-text {
	font-style: italic;
}

.testimonial-author {
	font-weight: 700;
	font-size: 1rem;
	line-height: 1.5rem;
}

.li-space-lg li {
	margin-bottom: 0.5rem;
}

hr {
	width: 50px;
}

hr.stylised {
	/*border: none;
	border-top: 3px double #00468e;
	color: #00468e;
	overflow: visible;
	text-align: center;
	height: 5px;*/
	width: 40%;
	margin: 2rem auto 3rem;
}

hr.stylised:after {
	background: #fff;
	padding: 0 4px;
	position: relative;
	top: -13px;	
}

hr.stylised-short {
	border-top: 1px solid thick;
	width: 100%;
	margin: 3rem 0;
}

hr.party {
	border: none;
	border-top: 0.2rem solid #0095db;
	width: 50%;
	margin: 0.5rem auto;
}

p.party {
	color:#0095db;
	margin: 0.5rem 0;
	font: 100 0.95rem/1.15rem "Fredoka One", sans-serif;
}

a {
	color: #555555;
	text-decoration: underline;
}

a:hover {
	color: #555555;
	text-decoration: underline;
}

.no-line {
	text-decoration: none;
}

.no-line:hover {
	text-decoration: none;
}

.red {
	color: #00468e;
}

.green {
	color: #59933E;
}

.top {
	padding-top: 8.5px;
	height: 50px;;
}

.blue {
	color: #00468e;
	font-weight: 400;
	font-weight: bold;
	font-size: 1rem;
}

.rouge {
	color:#e00909;
}

.ergypurcol {
	color: #95C11F;
}

.ergygast {
	color: #289B38;
}

.bg-gray {
	background-color: #f6fbfd;
}

.btn-solid-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #00468e;
	border-radius: 32px;
	background-color: #00468e;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-reg:hover {
	background-color: transparent;
	color: #00468e; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-solid-lg, .cards-1 .btn-outline-lg {
	display: inline-block;
	padding: 1.625rem 2.75rem 1.625rem 2.75rem;
	border: 1px solid #00468e;
	border-radius: 32px;
	background-color: #00468e;
	color: #ffffff;
	font-weight: 600;
	font-size: 01rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-solid-lg:hover {
	background-color: transparent;
	color: #00468e; /* needs to stay here because of the color property of a tag */
	text-decoration: none;
}

.btn-outline-reg {
	display: inline-block;
	padding: 1.375rem 2.25rem 1.375rem 2.25rem;
	border: 1px solid #333333;
	border-radius: 32px;
	background-color: transparent;
	color: #333333;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-reg:hover {
	background-color: #333333;
	color: #ffffff;
	text-decoration: none;
}

.btn-outline-lg {
	display: inline-block;
	padding: 1.625rem 2.75rem 1.625rem 2.75rem;
	border: 1px solid #333333;
	border-radius: 32px;
	background-color: transparent;
	color: #333333;
	font-weight: 600;
	font-size: 1rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-lg:hover {
	background-color: #333333;
	color: #ffffff;
	text-decoration: none;
}

/*.inscriptions, @-moz-document.inscriptions, @-moz-document url-prefix().inscriptions {
	margin-top: 0.75rem;
	padding: 1.25rem 1.5rem;
	border: 1px solid #0095db;
	background-color: rgba(0, 149, 219, 0.1);
	color: #0095db;
	height: 20px;
}

.inscriptions:hover, @-moz-document.inscriptions:hover, @-moz-document url-prefix().inscriptions:hover {
	border: 1px solid rgba(0, 149, 219, 0.4);
	background-color: rgba(0, 149, 219, 0.8);
	color: #fff;
}*/

.btn-outline-sm {
	display: inline-block;
	padding: 1rem 1.5rem 1rem 1.5rem;
	border: 1px solid #333333;
	border-radius: 32px;
	background-color: transparent;
	color: #333333;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-sm:hover {
	background-color: #333333;
	color: #ffffff;
	text-decoration: none;
}

a#inscriptions.btn-outline-lg {
	position: relative; 
	box-sizing: border-box;
}

.form-group {
	position: relative;
	margin-bottom: 1.25rem;
}

.label-control {
	position: absolute;
	top: 0.875rem;
	left: 1.875rem;
	color: #7d838a;
	opacity: 1;
	font-size: 0.875rem;
	line-height: 1.5rem;
	cursor: text;
	transition: all 0.2s ease;
}

.form-control-input:focus + .label-control,
.form-control-input.notEmpty + .label-control,
.form-control-textarea:focus + .label-control,
.form-control-textarea.notEmpty + .label-control {
	top: 0.125rem;
	color: #555555;
	opacity: 1;
	font-size: 0.75rem;
	font-weight: 700;
}

.form-control-input,
.form-control-select {
	display: block; /* needed for proper display of the label in Firefox, IE, Edge */
	width: 100%;
	padding-top: 1.125rem;
	padding-bottom: 0.125rem;
	padding-left: 1.8125rem;
	border: 1px solid #d0d5e2;
	border-radius: 25px;
	background-color: #ffffff;
	color: #555555;
	font-size: 0.875rem;
	line-height: 1.875rem;
	transition: all 0.2s;
	-webkit-appearance: none; /* removes inner shadow on form inputs on ios safari */
}

.form-control-select {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	height: 3.25rem;
	color: #7d838a;
}

select {
    /* you should keep these first rules in place to maintain cross-browser behavior */
    -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url('../images/down-arrow.png');
    background-position: 96% 50%;
    background-repeat: no-repeat;
    outline: none;
}

.form-control-textarea {
	display: block; /* used to eliminate a bottom gap difference between Chrome and IE/FF */
	width: 100%;
	height: 11rem; /* used instead of html rows to normalize height between Chrome and IE/FF */
	padding-top: 1.5rem;
	padding-left: 1.3125rem;
	border: 1px solid #d0d5e2;
	background-color: #ffffff;
	color: #555555;
	font-size: 0.875rem;
	line-height: 1.5rem;
	transition: all 0.2s;
}

.form-control-input:focus,
.form-control-select:focus,
.form-control-textarea:focus {
	border: 1px solid #a1a1a1;
	outline: none; /* Removes blue border on focus */
}

.form-control-input:hover,
.form-control-select:hover,
.form-control-textarea:hover {
	border: 1px solid #a1a1a1;
}

.checkbox {
	font-size: 0.75rem;
	line-height: 1.25rem;
}

input[type='checkbox'] {
	vertical-align: -10%;
	margin-right: 0.5rem;
}

.form-control-submit-button {
	display: inline-block;
	width: 100%;
	height: 3.25rem;
	border: 1px solid #00468e;
	border-radius: 32px;
	background-color: #00468e;
	color: #ffffff;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0;
	cursor: pointer;
	transition: all 0.2s;
}

.form-control-submit-button:hover {
	background-color: transparent;
	color: #00468e;
}

/* Fade-move Animation For Details Lightbox - Magnific Popup */
/* at start */
.my-mfp-slide-bottom .zoom-anim-dialog {
	opacity: 0;
	transition: all 0.2s ease-out;
	-webkit-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	-ms-transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
	transform: translateY(-1.25rem) perspective(37.5rem) rotateX(10deg);
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
	opacity: 1;
	-webkit-transform: translateY(0) perspective(37.5rem) rotateX(0); 
	-ms-transform: translateY(0) perspective(37.5rem) rotateX(0); 
	transform: translateY(0) perspective(37.5rem) rotateX(0); 
}

/* animate out */
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
	opacity: 0;
	-webkit-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
	-ms-transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
	transform: translateY(-0.625rem) perspective(37.5rem) rotateX(10deg); 
}

/* dark overlay, start state */
.my-mfp-slide-bottom.mfp-bg {
	opacity: 0;
	transition: opacity 0.2s ease-out;
}

/* animate in */
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
	opacity: 0;
}
/* end of fade-move animation for details lightbox - magnific popup */

/* Fade Animation For Image Lightbox And Morphtext - Magnific Popup  */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation: fadeIn 0.6s;
	animation: fadeIn 0.6s;
}

@-webkit-keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.fadeOut {
	-webkit-animation: fadeOut 0.8s;
	animation: fadeOut 0.8s;
}
/* end of fade animation for image lightbox and morphtext - magnific popup */

/**********************/
/*     Navigation     */
/**********************/
.navbar {
	background-color: #00468e;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	border-bottom: 1px solid #0095db;
}

.navbar .container {
	max-width: 1500px;
}

.navbar .navbar-brand {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

/*.navbar .logo-image img {
    width: 89px;
	height: 30px;
}*/

.navbar .logo-text {
	color: #ffffff;
	font-weight: 400;
	font-size: 2rem;
	line-height: 1rem;
	text-decoration: none;
}

.offcanvas-collapse {
	position: fixed;
	top: 3.25rem; /* adjusts the height between the top of the page and the offcanvas menu */
	bottom: 0;
	left: 100%;
	width: 100%;
	padding-right: 1rem;
	padding-left: 1rem;
	overflow-y: auto;
	visibility: hidden;
	background-color: #00468e;
	transition: visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out;
	transition: transform .3s ease-in-out, visibility .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.offcanvas-collapse.open {
	visibility: visible;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.navbar .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar .nav-item .nav-link {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	color: #f8e7eb;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar .nav-item.dropdown.show .nav-link,
.navbar .nav-item .nav-link:hover,
.navbar .nav-item .nav-link.active {
	color: #ffffff;
}

/* Dropdown Menu */
.navbar .dropdown .dropdown-menu {
	animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
	}
}

.navbar .dropdown-menu {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	border: none;
	background-color: #00468e;
}

.navbar .dropdown-item {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	color: #f8e7eb;
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 0.875rem;
	text-decoration: none;
}

.navbar .dropdown-item:hover {
	background-color: #00468e;
	color: #ffffff;
}

.navbar .dropdown-divider {
	width: 100%;
	height: 1px;
	margin: 0.5rem auto 0.5rem auto;
	border: none;
	background-color: #e7b4be;
}
/* end of dropdown menu */

.navbar .fa-stack {
	width: 2em;
	margin-right: 0.25rem;
	font-size: 0.75rem;
}

.navbar .fa-stack-2x {
	color: #ffffff;
	transition: all 0.2s ease;
}

.navbar .fa-stack-1x {
	color: #00468e;
	transition: all 0.2s ease;
}

.navbar .fa-stack:hover .fa-stack-2x {
	color: #00468e;
}

.navbar .fa-stack:hover .fa-stack-1x {
	color: #ffffff;
}

.navbar .navbar-toggler {
	padding: 0;
	border: none;
	font-size: 1.25rem;
}


/*****************/
/*    Header     */
/*****************/
.header {
	position: relative;
	padding-top: 7rem;
	padding-bottom: 9rem;
	background: linear-gradient(to bottom right, rgba(39, 49, 43, 0.5), rgba(14, 119, 93, 0.3)), 
								url("../images/header.jpg") center center no-repeat;
	/*background-image: url("../images/header.jpg");*/
	background-size: cover;
	text-align: center;
}

.header .countdown {
	margin-bottom: 0.5rem;
	color: #ffffff;
}

.header .countdown #clock .counter-number {
	display: inline-block;
	width: /*7.25rem*/ 3rem;
	height: /*7.25rem*/ 3rem;
	margin-right: 0.5rem;
	margin-bottom: 1.25rem;
	margin-left: 0.5rem;
	padding-top: /*2.5rem*/ 2rem;
	border: 2px solid #ffffff;
	border-radius: 50%;
	font-weight: 400;
	font-size: /*2.25rem*/ 1.5rem;
	line-height: 1.25rem;
	text-align: center;
}

.header .countdown #clock .counter-number .timer-text {
	font-weight: 400;
	font-size: 0.75rem;
	line-height: 1rem;
	text-align: center;
}

.header .h1-large {
	/*margin-bottom: 1.125rem;*/
	color: #ffffff;
}

.header .p-large {
	margin-bottom: 2.125rem;
	color: #ffffff;
}

.header .btn-outline-lg {
	border-color: #ffffff;
	color: #ffffff;
	font-size: medium;
}

.header .btn-outline-lg:hover {
	background-color: #ffffff;
	color: #333333;
}

.header .header-decoration {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
}


/************************/
/*     Registration     */
/************************/
.form-1 {
	padding-top: 4rem; 
}

.form-1 .text-container {
	margin-bottom: 4rem;
}

.form-1 h2 {
	margin-bottom: 2rem;
}

.form-1 .list-unstyled .fas {
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.form-1 .list-unstyled .media-body {
	margin-left: 0.5rem;
}

#registration p {
	/*margin-right: 2rem;*/
}

#registration p.center {
	text-align: center;
	font-weight: bold;
	margin-top: 2rem;;
}

#registration.space {
	margin-top: 2rem;
}

#registration li {
	margin: auto 1.5rem;
}

#registration .img-fluid.entry {
	width: 45%;
	display: block;
	float: left; 
	margin: 0.5rem;
}

.image-container {
	display: flex;
	justify-content: center;
}

img.flag {
	position: relative;
	top: -3rem;
}

/***********************/
/*     Description     */
/***********************/
.slider-1 {
	padding-top: 8.375rem;
	padding-bottom: 3.25rem;
}

.slider-1 .slider-container {
	position: relative;
	margin-bottom: 3rem;
}

.slider-container img {
	border-radius: 10px;
}

.slider-1 .swiper-container {
	position: static;
	width: 90%;
	border-radius: 6px;
}

.slider-1 .swiper-button-prev:focus,
.slider-1 .swiper-button-next:focus {
	/* even if you can't see it chrome you can see it on mobile device */
	outline: none;
}

.slider-1 .swiper-button-prev {
	left: -14px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23333'%2F%3E%3C%2Fsvg%3E");
	background-size: 18px 28px;
}

.slider-1 .swiper-button-next {
	right: -14px;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23333'%2F%3E%3C%2Fsvg%3E");
	background-size: 18px 28px;
}

.slider-1 h2 {
	margin-bottom: 1.25rem;
}

#activites .image-container {
	display: flex;
	flex-direction: column;
}

#activites img {
	width: 500px;
}


/**********************/
/*     Activités     */
/**********************/

#activites .cards-1 {
	width: 80%;
	margin: 2rem auto;
}

#activites .cards-1 p {
	margin-top: 1rem;
}

#activites .cards-1 p.right, span.right {
	text-align: right;
}

#activites .cards-1 p.center, span.center {
	text-align: center;
}

#activites .cards-1 p.left, span.left {
	text-align: left;
}

#activites .cards-1 p.alinea {
	position: relative;
	left: 30px;
}

#activites p.alinea {
	padding-left: 30px;
}

#activites .card {
	margin-top: 2rem;
	text-align: center;
	width: 450px;
	margin-left: 2rem;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	display: flex;
	justify-content: center;
}

#activites .card-body {
	margin: 0 auto;
}

#activites p.top {
	margin-top: 0;
	padding: 0rem 0 0 15rem;
}

#activites p.special {
	margin-top: 3rem;
	margin-left: 20%;
}

#activites span.dark-blue {
	/*padding-left: 5rem;*/
}

/**********************/
/*     Highlights     */
/**********************/
.cards-1 {
	padding-top: 1rem;
	text-align: center;
}

.cards-1 .card {
	margin-bottom: 4.5rem;
	border: none;
	background-color: transparent;
}

.cards-1 .card-image {
	position: relative;
	width: /*11*/ 15rem;
	height: /*11*/ 15rem;
	width: 15rem;
	margin-right: auto;
	margin-bottom: 2rem;
	margin-left: auto;
	border-radius: /*4px*/ 10px;
	/*background: linear-gradient(to bottom right, #00468e, #0095db);*/
}

.cards-1 .card .fas {
	color: #ffffff;
	font-size: 4rem;
	line-height: 11rem;
}

.cards-1 .card-body {
	padding: 0;
}

.cards-1 .card-title {
	margin-bottom: 0.625rem;
}

.cards-1 .card p {
	margin-bottom: 0;
}

img.logo {
	display: block;
 	margin: 0px auto;
	/*width: 35%;*/
}

#programme {
	margin-top: 2rem;
}

/******************/
/*     Agenda     */
/******************/
.basic-1 {
	padding-top: 7.75rem;
	padding-bottom: 0rem;
}

.basic-1 .h2-heading {
	margin-bottom: 0.75rem;
	text-align: center;
}

.basic-1 h3 {
	color: #0095db;
	margin-bottom: 1rem;
}

.basic-1 .p-heading {
	text-align: center;
}

.basic-1 .text-container.first {
	margin-bottom: 3rem;
}

.basic-1 .text-container.first.one {
	margin-left: 10rem;
	width: 400px;
}

.basic-1 .text-container.first.two {
	margin-left: 10rem;
	width: 400px;
}

.basic-1 .keynote-title {
	margin-bottom: 0rem;
}

.basic-1 .keynote-time {
	color:#00468e;
	font-weight: 700;
	font-size: 1.125rem;
	line-height: 1.625rem;
}

.basic-1 .keynote-divider {
	height: 1px;
	margin-top: 2.25rem;
	margin-bottom: 2.25rem;
	border: none;
	background-color: #b5bcc4;
}

/*#agenda {
	background-image: url("../images/compo-floral.png");
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: 100%;
}*/

#agenda.basic-1.bg-gray {
	padding-bottom: 0;
}

.cell {
	height: 80px;
	display : flex;
 	align-items: center;
	flex-direction: column;
	margin: 0.5rem auto 1.25rem auto;
}

.first-cell {
	margin-bottom: -1rem;
}

.last-cell {
	margin-bottom: -0.75rem;
}

.cell-element {
	padding-top: 0.35rem;
	flex-grow: 0;
}

.cell-element:nth-of-type(2) {
	position: relative;
	bottom: 0.75rem;
}

/********************/
/*     Speakers     */
/********************/
.cards-2 {
	padding-top: 5rem;
	padding-bottom: 5rem;
	text-align: center;
}

.cards-2 a {
	text-decoration: none;
	color: #0095db;
}

.cards-2 .h2-heading {
	text-align: center;
}

.cards-2 .p-heading {
	margin-bottom: 2.5rem;
	text-align: center;
}

.cards-2 .card {
	max-width: 340px;
	margin-right: auto;
	margin-bottom: 2.5rem;
	margin-left: auto;
	border: none;
	background: transparent;
}

.cards-2 .card-image {
	position: relative;
	margin-bottom: 1.75rem;
	height: 233px;
}

.cards-2 .card-image img {
	border-radius: 6px;
	width: 256px;
	height: 245px;
}

.cards-2 .card-image .hover-overlay {
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	border-radius: 6px;
	background-color: rgba(0, 70, 142, 0.8);
	opacity: 0;
	transition: all 0.2s ease;
}

.cards-2 .card-image:hover .hover-overlay {
	opacity: 1;
}

.cards-2 .card-image .hover-overlay p {
	width: 80%;
	margin-right: auto;
	margin-bottom: 0.375rem;
	margin-left: auto;
	color: #ffffff;
}

.cards-2 .card-image .hover-overlay p.read-more {
	font-weight: 700;
}

.cards-2 .card-body {
	padding: 0;
}

.cards-2 .card-title {
	margin-bottom: 0.25rem;
}

.cards-2 .fa-stack {
	width: 1.75rem;
	height: 1.75rem;
	margin-right: 0.125rem;
	margin-left: 0.125rem;
	line-height: 1.75rem;
}

.cards-2 .fa-stack .fa-stack-2x {
	font-size: 1.75rem;
}

.cards-2 .fa-stack .fa-stack-1x {
	font-size: 0.875rem;
}

.cards-2 .fa-stack-2x {
	color: #00468e;
	transition: all 0.2s ease;
}

.cards-2 .fa-stack-1x {
	color: #ffffff;
}

.cards-2 .fa-stack:hover .fa-stack-2x {
	color: #ffffff;
}

.cards-2 .fa-stack:hover .fa-stack-1x {
	color: #00468e;
}

h3 {
	color: #0095db;
	margin-bottom: 1rem;
}

.keynote-time {
	color:#00468e;
	font-weight: 700;
	font-size: 1.125rem;
	line-height: 1.625rem;
}

.keynote-divider {
	height: 1px;
	margin-top: 2.25rem;
	margin-bottom: 2.25rem;
	border: none;
	background-color: #b5bcc4;
}

/*************************/
/*     Week-end     */
/*************************/

#week-end p.center {
	text-align: center;
	font-weight: bold;
	margin-top: 2rem;;
}

#week-end .img-fluid.entry {
	width: 45%;
	display: block;
	float: left; 
	margin: 1rem 0.5rem 0 3%;
}

/******************/
/*     Footer     */
/******************/
.footer-decoration {
	position: relative;
	width: 100%;
	height: 80px;
}

.footer-decoration .footer-frame {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: /*50px*/ auto;
}

.footer {
	/*padding-top: 4rem;*/
	padding-bottom: 1.5rem;
	/*background-color: #00468e;*/
	background-color: rgba(0, 70, 142, 0.93);
}

.footer a {
	text-decoration: none;
}

.footer .footer-col {
	margin-bottom: 3rem;
}

.footer h6 {
	margin-bottom: 0.625rem;
	color: #ece1e3;
}

.footer p,
.footer a,
.footer ul {
	color: #ece1e3;
}

.footer .li-space-lg li {
	margin-bottom: 0.375rem;
}

.footer .footer-col.third .fa-stack {
	width: 2em;
	margin-bottom: 1.25rem;
	margin-right: 0.375rem;
	font-size: 1.375rem;
}

.footer .footer-col.third .fa-stack .fa-stack-1x {
    color: #00468e;
	transition: all 0.2s ease;
}

.footer .footer-col.third .fa-stack:hover .fa-stack-2x {
    color: #00468e;
}

.footer .footer-col.third .fa-stack:hover .fa-stack-1x {
	color: #ffffff;
}


/*********************/
/*     Copyright     */
/*********************/
.copyright {
	padding-bottom: 1rem;
	/*background-color: #00468e;*/
	text-align: center;
}

/******************************/
/*     Back To Top Button     */
/******************************/
a.back-to-top {
	position: fixed;
	z-index: 999;
	right: 12px;
	bottom: 12px;
	display: none;
	width: 42px;
	height: 42px;
	border-radius: 30px;
	background: #0095db url("../images/up-arrow.png") no-repeat center 47%;
	background-size: 18px 18px;
	text-indent: -9999px;
}

a:hover.back-to-top {
	background-color: #2c68a5;
}


/***********************/
/*     Extra Pages     */
/***********************/
.ex-header {
	padding-top: 8.5rem;
	padding-bottom: 4rem;
	background: linear-gradient(to bottom right, #00468e, #0095db);
}

.ex-header h1 {
	color: #ffffff;
}

.ex-basic-1 .list-unstyled .fas {
	font-size: 0.375rem;
	line-height: 1.625rem;
}

.ex-basic-1 .list-unstyled .media-body {
	margin-left: 0.5rem;
}

.ex-basic-1 .text-box {
	padding: 1.25rem 1.25rem 0.5rem 1.25rem;
	background-color: #f6fbfd;
}

.ex-cards-1 .card {
	border: none;
	background-color: transparent;
}

.ex-cards-1 .card .fa-stack {
	width: 2em;
	font-size: 1.125rem;
}

.ex-cards-1 .card .fa-stack-2x {
	color: #00468e;
}

.ex-cards-1 .card .fa-stack-1x {
	color: #ffffff;
	font-weight: 700;
	line-height: 2.125rem;
}

.ex-cards-1 .card .list-unstyled .media-body {
	margin-left: 0.75rem;
}

.ex-cards-1 .card .list-unstyled .media-body h5 {
	margin-top: 0.125rem;
	margin-bottom: 0.375rem;
}


/*************************/
/*     Media Queries     */
/*************************/	
/* Min-width 768px */
@media (min-width: 768px) {

	/* Header */
	.header {
		padding-top: 10rem;
		padding-bottom: 13rem;
	}

	.header .header-decoration {
		height: 100px;
	}

	.header .countdown {
		margin-top: 1rem;
	}
	/* end of header */

	/* Introduction */
	.basic-1 .text-box {
		padding-right: 2.5rem;
		padding-left: 2.5rem;
	}
	/* end of introduction */

	/* Footer */
	.footer-decoration {
		height: 130px;
	}
	
	.footer-decoration .footer-frame {
		height: 100px;
	}
	/* end of footer */


	/* Extra Pages */
	.ex-basic-1 .text-box {
		padding: 1.75rem 2rem 0.875rem 2rem;
	}
	/* end of extra pages */
}
/* end of min-width 768px */


/* Min-width 992px */
@media (min-width: 992px) {
	
	/* General Styles */
	.h1-large {
		font-size: /*5.5rem*/10rem;
		line-height: /*6rem*/ 10rem;
	}

	.h2-heading {
		width: 35.25rem;
		margin-right: auto;
		margin-left: auto;
	}

	.p-heading {
		width: 40rem;
		margin-right: auto;
		margin-left: auto;
	}

	h4 {
		margin-top: /*3rem*/ 1rem;
		margin-bottom: 1rem;
	}
	/* end of general styles */


	/* Navigation */
	.navbar {
		padding-top: 1.75rem;
		background-color: transparent;
		border-bottom: none;
		transition: all 0.2s;
	}

	.navbar.top-nav-collapse {
		padding-top: 0.5rem;
		padding-bottom: 0.5rem;
		background-color: #00468E;
		/*border-bottom: 1px solid #0095DB;*/
	}

	.offcanvas-collapse {
		position: static;
		top: auto;
		bottom: auto;
		left: auto;
		width: auto;
		padding-right: 0;
		padding-left: 0;
		background-color: transparent;
		overflow-y: visible;
		visibility: visible;
	}

	.offcanvas-collapse.open {
		-webkit-transform: none;
		transform: none;
	}

	.navbar .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}
	
	.navbar .nav-item .nav-link {
		padding-right: 0.625rem;
		padding-left: 0.625rem;
	}

	.navbar .dropdown-menu {
		margin-top: 0.25rem;
		box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.08);
	}

	.navbar .dropdown-divider {
		width: 90%;
	}

	.navbar .social-icons {
		margin-left: 0.5rem;
	}
	
	.navbar .fa-stack {
		margin-right: 0;
		margin-left: 0.25rem;
	}
	/* end of navigation */


	/* Header */
	.header {
		padding-top: 12rem;
		padding-bottom: 16rem;
	}

	.header .countdown #clock .counter-number {
		width: /*8rem*/ 6rem;
		height: /*8rem*/ 6rem;
		padding-top: /*2.75rem*/ 1.75rem;
		font-size: /*2.75rem*/ 2rem;
	}
	/* end of header */


	/* Registration */
	.form-1 .text-container {
		margin-bottom: 0;
	}

	.swiper-slide img {
		border-radius: 10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-ms-border-radius: 10px;
		-o-border-radius: 10px;
}
	/* end of registration */


	/* Agenda */
	/*.basic-1 {
		padding-bottom: 7.25rem;
	}*/

	.basic-1 .text-container.first {
		margin-bottom: 0;
	}
	
	.basic-1 .keynote-details {
		display: inline-block;
		/*width: 80%;*/
	}
	

	/*.basic-1 .keynote-time {
		display: inline-block;
		width: 19%;
		text-align: right;
		vertical-align: top;
	}*/
	
	.basic-1 .keynote-divider {
		margin: 2.125rem auto 3rem auto;
	}

	/* end of agenda */

	/* Footer */
	.footer .footer-col {
		margin-bottom: 2rem;
	}

	.footer .footer-col.first {
		display: inline-block;
		width: 320px;
		margin-right: 1.75rem;
		vertical-align: top;
	}
	
	.footer .footer-col.second {
		display: inline-block;
		width: 320px;
		margin-right: 1.75rem;
		vertical-align: top;
	}
	
	.footer .footer-col.third {
		display: inline-block;
		width: 224px;
		text-align: right;
		vertical-align: top;
	}

	.footer .footer-col.third .fa-stack {
		margin-right: 0;
		margin-left: 0.375rem;
	}
	/* end of footer */


	/* Extra Pages */
	.ex-cards-1 .card {
		display: inline-block;
		width: 296px;
		vertical-align: top;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 1rem;
		margin-left: 1rem;
	}
	/* end of extra pages */
}
/* end of min-width 992px */


/* Min-width 1200px */
@media (min-width: 1200px) {

	/* Header */
	.header {
		padding-top: 14rem;
		padding-bottom: 20rem;
	}
	/* end of header */


	/* Registration */
	.form-1 .text-container {
		margin-top: 1rem;
		margin-right: 1.75rem;
	}

	.form-1 .form-container {
		margin-left: 2.5rem;
	}
	/* end of registration */


	/* Description */
	.slider-1 {
		padding-bottom: 5rem;
	}

	.slider-1 .slider-container {
		margin-bottom: 0;
	}

	.slider-1 .swiper-container {
		width: 100%;
	}
	
	.slider-1 .swiper-button-prev {
		left: -36px;
	}
	
	.slider-1 .swiper-button-next {
		right: -36px;
	}

	.slider-1 .text-container {
		/*margin-top: 2.875rem;*/
		margin-left: 4rem;
	}

	/* end of description */


	/* Highlights */
	.cards-1 .card {
		display: inline-block;
		width: 330px;
		margin-right: auto;
		margin-left: auto;
		vertical-align: top;
	}

	.cards-1 .card:nth-of-type(3n+2) {
		margin-right: 3.375rem;
		margin-left: 3.375rem;
	}
	/* end of highlights */


	/* Agenda */
	.basic-1 .text-container.first {
		margin-right: 1.5rem;
	}

	.basic-1 .text-container.second {
		margin-left: 1.5rem;
	}

	/*.basic-1 .keynote-details {
		width: 85%;
	}*/
	
	.basic-1 .keynote-time {
		width: 14%;
	}
	/* end of agenda */


	/* Speakers */
	.cards-2 .card {
		display: inline-block;
		width: 256px;
		max-width: 100%;
		vertical-align: top;
	}

	.cards-2 .card:nth-of-type(4n+2) {
		margin-right: 0.75rem;
		margin-left: 1.5rem;
	}

	.cards-2 .card:nth-of-type(4n+3) {
		margin-right: 1.5rem;
		margin-left: 0.75rem;
	}
	/* end of speakers */


	/* Speaker Lightboxes */
	.lightbox-basic {
		padding-right: 3rem;
		padding-left: 3rem;
	}

	.lightbox-basic .text-container {
		margin-top: 1.25rem;
		margin-left: 2rem;
	}
	/* end of speaker lightboxes */


	/* Questions */
	.basic-2 .list-unstyled.first {
		margin-right: 1rem;
	}

	.basic-2 .list-unstyled.second {
		margin-left: 1rem;
	}
	/* end of questions */


	/* Footer */
	.footer .footer-col.first {
		width: 352px;
		margin-right: 6rem;
	}
	
	.footer .footer-col.second {
		margin-right: 6.5rem;
	}
	
	.footer .footer-col.third {
		text-align: right;
	}
	/* end of footer */


	/* Extra Pages */
	.ex-cards-1 .card {
		width: 336px;
	}

	.ex-cards-1 .card:nth-of-type(3n+2) {
		margin-right: 2.875rem;
		margin-left: 2.875rem;
	}
	/* end of extra pages */
}
/* end of min-width 1200px */

/* Min-width 1200px */

@media (max-width: 992px) {
.header .countdown #clock .counter-number {
		width: /*8rem*/ 5rem;
		height: /*8rem*/ 5rem;
		padding-top: /*2.75rem*/ 1rem;
		font-size: /*2.75rem*/ 1.75rem;
	}

.h1-large {
		font-size: /*5.5rem*/ 4rem;
		line-height: /*6rem*/ 4rem;
	}
h2 {
	font-size: 2.5rem;
	}
}

@media (max-width: 550px) {
	#activites .card {
		width: 300px;
		margin: 0 auto;
	}
	#activites .card span {
		font-size: 1.5rem;
	}
	h3 {
		font-size: 2rem;
	}
	#speakers, #we, #header h3 {
		padding-top: 20px;
	}
	#activites h3 {
		margin-top: 1rem;
	}
	#activites .blue {
		font-size: 1.5rem;
	}
	#activites .card-body {
		margin-top: 1rem;
	}
	#we h4:last-of-type {
		position: relative;
		top: 15px;
		margin-top: 5rem;
	}
}